/* CART */

.cart-icon {
  position: relative;
  font-size: 1.6rem;
}

.cart-count {
  position: absolute;
  top: -0.4em;
  right: -0.3em;

  width: 1.2em;
  height: 1.2em;

  background: linear-gradient(to bottom, #f2d324, #f02b2b);
  color: #222;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px;
  font-size: 0.6em;
  font-weight: bold;
}

.cart-overlay {
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: flex-end;
}

.cart-section {
  background-color: #f8eff0;
  max-width: 400px;
  max-height: 95vh;
  margin: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.cart-header-section {
  border-bottom: 1px solid #212529;
}

.cart-header-img {
  width: 65%;
}

.cart-product-section {
  border-bottom: 1px solid rgba(33, 37, 41, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

.cart-product-img {
  width: 30%;
}

.cart-product-header {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.cart-product-price {
  padding: 0;
  font-size: 0.8rem;
}

.cart-product-trashcan {
  margin-top: auto;
}
.pagination .page-link {
  color: black;
}

.cart-close-button {
  transition: transform 0.2s;
}
.cart-close-button:hover {
  transform: scale(1.15);
}

.cart-checkout-button:hover {
  text-decoration: underline;
}
.checkout-button-section {
  margin-top: auto;
}

@media (min-width: 1400px) {
  .cart-section {
    max-width: 500px;
    margin: 40px;
    border-radius: 14px;
  }

  .cart-header-img {
    width: 55%;
  }

  .cart-product-section {
    height: 75vh;
  }

  .cart-product-header {
    font-size: 1rem;
  }

  .cart-product-price {
    font-size: 0.95rem;
  }

  .cart-product-trashcan {
    font-size: 1rem;
  }

  .cart-close-button {
    font-size: 1.2rem;
  }

  .total-price {
    font-size: 1.3rem !important;
  }

  .cart-checkout-button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .cart-icon {
    font-size: 1.8rem;
  }

  .header-container {
    margin: 0px 50px;
  }
}
