body {
  background-color: #e6e6e6;
  background-image: url(../images/top-view-candies-lollipops-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkoutDiv {
  background-color: rgb(248, 239, 240, 0.9);
  min-width: 70%;
}

#checkoutCartList {
  margin-top: 7px;
  margin-bottom: 7px;
}

.checkoutForm {
  min-width: 70%;
}

#checkoutTotal {
  text-decoration: underline;
}

.arrowLeft:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .checkoutDiv {
    min-width: 50%;
  }

  .checkoutForm {
    min-width: 50%;
  }
}
