@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Honk&display=swap");

body {
  background: #e6e6e6;
  background-image: url(../images/top-view-candies-lollipops-with-copy-space.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: Coiny;
}
