body {
  background-color: #e6e6e6;
  background-image: url(../images/top-view-candies-lollipops-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.completeDiv {
  max-width: 800px;
  background-color: #f8eff0;
  border-radius: 2rem;
  margin: 10px;
}

@media (min-width: 1100px) {
  .completeDiv {
    margin: 10px auto;
  }
}
.arrowLeft:hover {
  cursor: pointer;
}

h2 {
  display: inline-block;
  background-color: #f8eff0;
  border-radius: 10px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}

#orderNamesUl {
  padding-bottom: 5px;
  padding-top: 5px;
  list-style-type: none;
}

@media (min-width: 500px) {
  #orderNamesUl {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 768px) {
  #orderNamesUl {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* Awesome border */
.gradient-glow {
  position: relative;
  border-radius: 12px;
}

.gradient-glow::before {
  content: "";
  position: absolute;
  inset: -6px;
  background: linear-gradient(to bottom, #f2d324, #f02b2b);
  filter: blur(10px);
  z-index: -1;
}
