body {
  background-color: #e6e6e6;
  background-image: url(../images/top-view-candies-lollipops-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cartHover:hover {
  cursor: pointer;
}

.arrowLeft:hover {
  cursor: pointer;
}

.oneProductMain {
  margin: 0 auto;
}

.img-cotnainer {
  max-width: 550px !important;
}

.product-img-info-container {
  max-width: 1400px;
  margin: 0 auto;
}

.product-banner {
  background-color: rgb(54 54 54 / 1);
}

.product-banner-text {
  color: #ec8638;
}

.card-body {
  background-color: #f8eff0;
}

.rating-star {
  color: #ec8638;
}

.add-to-cart:hover {
  text-decoration: underline;
}

.other-products-carousel {
  overflow-x: auto;
  overflow-y: hidden;
}

.other-product-container {
  width: 180px;
  border: 1px solid #c7c2c2;
  background-color: #f8eff0;
  border-radius: 8px;
  flex: 0 0 auto;
  transition: transform 0.2s ease;
}

.other-product-container:hover {
  transform: scale(1.02);
}

.other-product-container:hover .other-product-name {
  text-decoration: underline;
}

.other-product-container img {
  width: 100%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.other-rating-star {
  color: #ec8638;
}

.other-products-section {
  max-width: 1250px;
  margin: 10px auto;
}

.other-product-price {
  font-size: 1rem;
}

.other-product-name {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .oneProductMain {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .add-to-cart {
    font-size: 1.1rem !important;
    padding: 0.5rem 1rem !important;
  }
}