.productPageMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
}

.card {
  background-color: rgba(128, 121, 121, 0.4);
  border: 1px solid #222;
  max-width: 160px;
}

.card-button-container {
  display: flex;
  align-items: end;
}

.candyCardDiv {
  margin: 1rem;
}

.candyCardTitle {
  font-size: 100%;
}

.candyCardBtn {
  background-color: rgb(237, 246, 103);
  border: 1px solid black;
  font-size: 0.7rem;
  padding: 0.2rem;
  border-radius: 0.6rem;
  text-align: center;
  color: #222;
  text-decoration: none;
}

.candyCardBtn:hover {
  text-decoration: underline;
}

@media (min-width: 450px) {
  .card {
    max-width: 200px;
  }

  .candyCardBtn {
    padding: 6px 4px;
  }
  .cart-header-img {
    width: 50% !important;
  }
}
